extends layout

block content
    h1= "Enter your team"
    form(action="/form", method="post")
        label(for="Enter")
        // input(type="text", name="name" placeholder="Enter team name")
        br
        input(type="text", name="p1" placeholder="Enter summoner name")
        br
        input#Enter(type="text", name="p2" placeholder="Enter summoner name")
        br
        input(type="text", name="p3" placeholder="Enter summoner name")
        br
        input(type="text", name="p4" placeholder="Enter summoner name")
        br
        input(type="text", name="p5" placeholder="Enter summoner name")
        br
        input(type="submit", value="Submit")