doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.styl')
  body
    header
      nav
        h3 Sitemap
        ul
          li 
            a(href="/") Home
          li
            a(href="/scouter") Scouter
          li
            a(href="/form") Test Form
    section#wrapper
        block content